html, body {
    height: 100%;
    width: 100%;
}

button {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 2%;
    height: 100%;
}

table.table-bordered > tbody > tr > td {
    border:1px solid rgb(112, 112, 194);
    height: 120px;
}

/*
#fila-1, #fila-2, #fila-3, #fila-4 {
    height: 22%;
}*/

