#game-menu-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


#game-btn-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
    height: 80%;
    justify-content: center;
}

.game-btn {
    width: 45%;
    height: 40vh;
    margin: 8px;
    border-radius: 16px;
    opacity: 0.5;
    transition: 0.2s;
}

.active {opacity: 1;}

.inactive {opacity: 0.5;}

.game-btn:hover {
    opacity: 1;
}

#btn-red {background-color: red;}

#btn-yellow {background-color: yellow;}

#btn-green {background-color: green;}

#btn-blue {background-color: blue;}

#btn-red:hover, #btn-yellow:hover, #btn-green:hover, #btn-blue:hover {opacity: 1;}

#game-result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#btn-reset {
    width: 120px;
    height: 40px;
    font-size: 15px;
}

.hidden {
    display: none;
}
